body{
    margin-top: 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    justify-content: space-between;
    
}


.header ,.footer{
    width: 100%;
    height: 7rem;
    background-color: #f8f6f8;
    border-bottom: 1px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.main{
    width: 50%;
    height: 20rem;
    background-color: #f8f6f8;
    border: 1px solid #dddddd;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main__line{
    width: 100%;
    display: flex;
    flex-direction: row;
    font-weight: 600;
    font-size: 20px;
}
.red{
    color: #d34359;
    margin-left: 5px;
}

.main__group {
    width: 100%;
    display: flex;
    flex-direction: row;
    
    
}
.form-control{
    width: 70%!important ;
    margin-right: 2%;
}

.btn-warning {
    margin-right: 2%;
}
.btn{
    width: 13%;
}
.width,.form-control  {
    width: 100%!important
}
.btn-success{
    background-color: #30b84d!important;
}
.block__row{
    display: flex;
    flex-direction: row;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer{
    border-top: 1px solid #dddddd;
}