<ul class="nav nav-tabs bad">
    <div class="row">
        <span>Last works >>></span>
        <li class="nav-item">
        <a class="nav-link"  [routerLink]="['/works/cenzor']" routerLinkActive="active"> Cenzor</a> 
        </li>
        <li class="nav-item">
        <a class="nav-link" [routerLink]="['/works/tasklist']" routerLinkActive="active">Users</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" [routerLink]="['/works/userlist']" routerLinkActive="active">Task</a>
    </li>
    </div>
    <div>
        <li class="nav-item">
            <a  class="nav-link" style="color: red; font-weight: bold; cursor: pointer;"  [routerLink]="['/home']" routerLinkActive="active">Back to >>> Home</a>
        </li>
    
    </div>
  </ul>