.page{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.block__colum {
    width: 80%;
}
.margin{
    margin-bottom: 1rem;
}
.input__width{
    width: 75%
}
.btnwidth{
    width: 100%;
}
.btn__width{
    width: 25%;
}
.size{
    width: 20px;
    height: 20px;
}

.green{
    color: green;
}
.red{
    color: red;
}