<section class="width">
    <div class="row">
        <div class="block__left">
            <img class="img" src="/assets/img/Screenshot_3.png" alt="">
            <p class="p">Angular list of prohibidet words</p>
            <div  class="group">
                <button type="button" class="btn btn-success" [routerLink]="['/works/cenzor']" routerLinkActive="active">Detalis</button>
            </div>
        </div>
        <div class="block__center">
            <img class="img" src="/assets/img/Screenshot_1.png" alt="">
            <p class="p">Angular task list</p>
            <div  class="group">
                <button type="button" class="btn btn-success" [routerLink]="['/works/tasklist']" routerLinkActive="active">Detalis</button>
            </div>
        </div>
        <div class="block__right">
            <img class="img" src="/assets/img/Screenshot_2.png" alt="">
            <p class="p">Angular user list</p>
            <div  class="group">
                <button type="button" class="btn btn-success" [routerLink]="['/works/userlist']" routerLinkActive="active">Detalis</button>
            </div>
        </div>
    </div>
</section>
