.header__block{
    width: 100%;
    height: 5rem;
    background-color: #f8f6f8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #d8d7d9;
    margin-bottom: 2rem;
}